body {
    background-color: #fdfdfd;
}

.fcab {
    background-color: #b57b71;
}

.fletra1 {
	Font-Weight:Bold;
}

.fletra2 {
    Color:#ffffff;
	Font-Weight:Bold;
}

.ftext1 { 
    Font-Weight:Bold;
    color: #000000;
    transition: color .3s ease-in-out;
    &:hover {
    color: #ff0000;
    }
}

.ftext2 { 
    Font-Weight:Bold;
    color: #000000;
    align-items: center;
}

.fimagen {
	Min-Height:250px;
	Background: URL('../img/JojiWa.webp') No-Repeat 0 -100px;
	Text-Align:Center;
	Color:#FFF;
}

.fhistoria {
    background-color: #FFF;
    width: auto;
    height: 25rem;
}

h2 {
    font-size: 2rem;
    color: #ff0000;
    text-align: center;
    padding: 2rem;
}

h5 {
    Font-Weight:Bold;
}

h6{
    font-size: 1rem;
    color: #000000;
    text-align: left;
    padding: 2rem;
}
.my {
    width: auto;
    height: 15rem;
    border-radius: 10%;
}


.ftex3 { 
    color: #000000;
    float: left;
}

.fcard {
    height: 9rem;
    width: 9rem;
}

.fcard2 {
    height: 8rem;
    width: 8rem;
}
